In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
# headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
# webpage = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav',headers=headers).text

In [5]:
# soup = BeautifulSoup(webpage,'lxml')

In [6]:
# print(soup.pretiffy())

In [7]:
# soup.find_all('h1')[0].text

In [8]:
# len(soup.find_all('h2'))

In [9]:
# for i in soup.find_all('h2'):
#     print(i.text.strip())

IndentationError: unexpected indent (3963759571.py, line 2)

In [ ]:
# soup.find_all('p', class_='companyCardWrapper')

In [ ]:
# Here we are directly first fetching the main content wrapper and then after with the use of it we are scarapping the other data
# company = soup.find_all('div', class_='companyCardWrapper')

In [ ]:
# name = []
# reviews = []
# ratings = []

# for i in company:
    
#     name.append(i.find('h2').text.strip())
#     reviews.append(i.find('p',class_='rating').text.strip())
#     ratings.append(i.find('a',class_='reviews-count').text.strip())

In [ ]:
# company[0].find_all('p',class_='')

In [16]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get('http://ssgec.ac.in/FacultyDetails.php?did=8',headers=headers).text

In [23]:
soup=BeautifulSoup(webpage,'lxml')

In [24]:
# print(soup.pretiffy())

In [28]:
faculty = soup.find_all('div',class_='col-lg-8')

In [31]:
soup.find('section',class_='section')

<section class="section" id="subscribe">
<div class="container">
<div class="row" style="height: 20px;">
<div class="col-lg-8 offset-lg-2">
<div class="section-heading">
<h2>Faculty Details</h2>
</div>
<!--<div class="subscribe-content">
                            <p>Infrastructure details of SSEC</p>
                        </div>-->
</div>
</div>
</div>
</section>

In [34]:
soup.find('div',class_='section-heading').text

'\nFaculty Details\n'

In [42]:
faculty_name = []

for i in soup.find_all('h6'):
    faculty_name.append(i.text.strip())

In [43]:
faculty_name

['Prof. N. S. Sanghani',
 'Prof. (Dr.) D. B. Vaghela',
 'Prof. S. S. Chauhan',
 'Dr. B. K. Borisaniya',
 'Prof. S. J. Agravat',
 'Prof. H. H. Maheta',
 'Prof. K. V. Patel',
 'Prof. P. M. Chauhan',
 'Prof. C. H. Makwana',
 'Prof. N. B. Nayak',
 'Prof. D. D. Modi',
 'Prof. A. D. Meniya',
 'Prof. V. D. Parmar',
 'Prof. D. D. Sanghani']

In [50]:
for i in soup.find_all('div',class_='section-heading'):
    print(i.text.strip())

Faculty Details
Prof. N. S. SanghaniDesignation : Assistant ProfessorQualification : M.E.Specialization : Cloud Computing, Internet of Things (IoT), BlockchainExperience : 14 YearsMore Details >>
Prof. (Dr.) D. B. VaghelaDesignation : Assistant ProfessorQualification : Ph.D.Specialization : Big Data, Cloud Computing, Machine Learning, Data Science, Algorithm Analysis & DesignExperience : 19 YearsMore Details >>
Prof. S. S. ChauhanDesignation : Assistant ProfessorQualification : M.Tech.Specialization : Distributed and High Performance Computing, Cloud Computing, Network and information Security, Big DataExperience : 15 YearsMore Details >>
Dr. B. K. BorisaniyaDesignation : Assistant ProfessorQualification : Ph.D.Specialization : Cloud Computing, Virtualization, Network Security, Machine LearningExperience : 11 YearsMore Details >>
Prof. S. J. AgravatDesignation : Assistant ProfessorQualification : M.E.Specialization : Image ProcessingExperience : 17 YearsMore Details >>
Prof. H. H. MahetaDesignation : Assistant ProfessorQualification : M.Tech.Specialization : Computer Vision, Soft Computing, Artificial Intelligence, Database Management System, Operating SystemExperience : 14 YearsMore Details >>
Prof. K. V. PatelDesignation : Assistant ProfessorQualification : M.E.Specialization : Cloud Computing, Operating System, Compiler DesignExperience : 11 YearsMore Details >>
Prof. P. M. ChauhanDesignation : Assistant ProfessorQualification : M.Tech. Specialization : Image Processing, Machine Learning, Data MiningExperience : 10 YearsMore Details >>
Prof. C. H. MakwanaDesignation : Assistant ProfessorQualification : M. E.Specialization : Data Mining, Algorithm, System ProgrammingExperience : 8 YearsMore Details >>
Prof. N. B. NayakDesignation : Assistant ProfessorQualification : M. Tech.Specialization : Database Management System, Cloud Computing, Big DataExperience : 6 YearsMore Details >>
Prof. D. D. ModiDesignation : Assistant ProfessorQualification : M.Tech.Specialization : Video Streaming, Computer Networks, Object Oriented ProgrammingExperience : 5 YearsMore Details >>
Prof. A. D. MeniyaDesignation : Assistant ProfessorQualification : M.E.Specialization : Cloud Computing, Security, Advance Web TechnologyExperience : 11 YearsMore Details >>
Prof. V. D. ParmarDesignation : Assistant ProfessorQualification : M.E.Specialization : Machine Learning, AIExperience : 11 YearsMore Details >>
Prof. D. D. SanghaniDesignation : Assistant ProfessorQualification : M.E.Specialization : Image ProcessingExperience : 10 YearsMore Details >>

In [52]:
soup.find_all('#text',class_='section-heading')

[]

In [53]:
d = {'name':faculty_name}

In [54]:
pd.DataFrame(d) # ypu can also add data as per you requirement after fetching the data

                         name
0        Prof. N. S. Sanghani
1   Prof. (Dr.) D. B. Vaghela
2         Prof. S. S. Chauhan
3        Dr. B. K. Borisaniya
4         Prof. S. J. Agravat
5          Prof. H. H. Maheta
6           Prof. K. V. Patel
7         Prof. P. M. Chauhan
8         Prof. C. H. Makwana
9           Prof. N. B. Nayak
10           Prof. D. D. Modi
11         Prof. A. D. Meniya
12         Prof. V. D. Parmar
13       Prof. D. D. Sanghani